// =============================================================================
// Variables
// =============================================================================

//
// Font faces, stacks and sizes.
//

// Compass' vertical_rhythm extension is a powerful tool to set up a vertical
// rhythm for your entire page.
// @see http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size: 15px; // The font size set on the root html element.
$base-line-height: 12px; // This line-height determines the basic unit of vertical rhythm.

// Modular Scale
// Major Third: 16px @ 1:1.25
$xl-heading: 2.44 * $base-font-size;
$lg-heading: 1.95 * $base-font-size;
$md-heading: 1.56 * $base-font-size;
$sm-heading: 1.25 * $base-font-size;
$text:       1    * $base-font-size;
$label:      .8  * $base-font-size;
$crumb:      .6  * $base-font-size;

$h1-font-size: $lg-heading;
$h2-font-size: $md-heading;
$h3-font-size: $sm-heading;
$h4-font-size: $text;
$h5-font-size: $label;
$h6-font-size: $label;

// First, let's create some font stacks.
$times-new-roman: 'Times New Roman', Times, Georgia, 'DejaVu Serif', serif;
$times:           Times, 'Times New Roman', Georgia, 'DejaVu Serif', serif;
$georgia:         Georgia, 'Times New Roman', 'DejaVu Serif', serif;
$verdana:         Verdana, Tahoma, 'DejaVu Sans', sans-serif;
$tahoma:          Tahoma, Verdana, 'DejaVu Sans', sans-serif;
$helvetica:       Helvetica, Arial, 'Nimbus Sans L', sans-serif;
$arial:           Arial, Helvetica, 'Nimbus Sans L', sans-serif;
$script:          'Petit Formal Script', cursive;
$raleway:         'Raleway', sans-serif;

// For an explanation of why 'sans-serif' is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         'Courier New', 'DejaVu Sans Mono', monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $raleway; // The font family set on the html element.
$font-monospace:   $courier;

// Font size variables
$normal: 400;
$light: 200;
$semibold: 600;
$bold: 800;

// Sass color variables, etc.
$black: #222222;
$gray-dark: #444444;
$gray-medium: #888888;
$gray-light: #f0f0f0;
$off-white: #fbfbfb;
$white: #ffffff;
$white-60: rgba($white, .6);
$white-30: rgba($white, .3);

// Brand Colors
$fedora: #645168;
$hotpurple: #462a4d;
$affair: #7b578a;
$amethystsmoke: #9f8aa9;
$frenchgrey: #c2bdc5;
$topaz: #8d8890;
$taupegrey: #8d888d;

// Use above sass variables to define defaults in normalize.scss
$text-color: $taupegrey;
$background-color: $white;
$link-color: $amethystsmoke;
$link-hover: $fedora;
$blockquote-color: $affair;
$figcaption-color: $hotpurple;
$form-text:$gray-medium;
$input-border-color: $gray-light;
$input-border-hover: $gray-dark;
$input-not: $gray-medium;
$input-not-background: $gray-light;
$input-not-border: $gray-medium;
$input-not-hover: $gray-dark;
$input-focus-outline: $gray-dark;
$input-disabled-background: $gray-light;
$input-disabled-text: $gray-medium;
$input-disabled-not-background: $gray-light;
$input-disabled-not-text: $gray-medium;
$input-readonly-text: $gray-medium;
$input-readonly-background: $gray-light;
$input-readonly-border: $gray-medium;
$input-invalid-text: #b94a48;
$input-invalid-border: #ee5f5b;
$input-invalid-border-focus: #e9322d;
$input-check-outline: #e9322d;
$select-background: $white;
$select-border: $gray-light;
$select-border-hover: $gray-medium;
$placeholder-text: $gray-light;
$button-background: $amethystsmoke;
$button-text: $white;
$button-hover-background: $fedora;
$button-hover-text: $white;
$button-focus-outline: $gray-dark;
$button-reset-text: $gray-medium;
$button-reset-text-hover: $gray-dark;

// Breakpoint Variables
$bp1: 600px;
$bp2: 900px;
$bp3: 1100px;

// Vertical spacing unit
$slug: rhythm(8);

// The amount lists, blockquotes and comments are indented.
$indent-amount: rhythm(1);

// Hover state effects
$timing: .5s;
$easing: ease-out;

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================

// Add Compass' IE and vendor prefix support variables.
@import 'compass/support';
// Better than Drupal's clearfix.
@import 'compass/utilities/general/clearfix';
// See http://compass-style.org/help/tutorials/spriting/
@import 'compass/utilities/sprites';
// Use one CSS3 mixin instead of multiple vendor prefixes.
@import 'compass/css3';
// Helps set up a vertical rhythm.
@import 'compass/typography/vertical_rhythm';
// Add the Zen Grids responsive layout mixins.
@import 'zen';
// Add the Breakpoint mixin.
@import 'breakpoint';

// Now we add our custom helper mixins.
@import 'mixins';
