//
// @file
// Define your custom Sass mixins and extends here.
// @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
//

// ==========================================================================
//  Typography grooming extends
// ==========================================================================

// Tight tracking
%track-in { letter-spacing: -.0125em; }

// Open tracking
%track-out { letter-spacing: .1em; }

// Style larger text with a tighter tracking, change weight, etc.
%display-type { @extend %track-in; font-family: $script; }

// Style all caps with a slightly open tracking.
%allcaps { @extend %track-out; text-transform: uppercase; }

// ==========================================================================
//  Clearfix extend
// ==========================================================================

%clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

// ==============================================================
//  Visually hidden extend
// ==============================================================

.element-invisible,
%element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

// Turns off the element-invisible effect.
%element-invisible-off {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

// ==============================================================
//  Transition mixin
// ==============================================================

@mixin trans($timing, $easing) {
  -webkit-transition: all $timing $easing;
  -moz-transition: all $timing $easing;
  -o-transition: all $timing $easing;
  transition: all $timing $easing;
}

