<header class="site__header">
  <a class="toggle--menu" href="#"><span>Menu</span></a>
  <h5 class="header__title"><a href="/" onclick="ga('send', 'event', 'Main Nav', 'home');">Pop Champagne for Lauren & Shane</a></h5>
  <div class="primary-navigation">
    <nav class="menu--main">
      <a class="menu--main__link" href="/rsvp.html" onclick="ga('send', 'event', 'Main Nav', 'rsvp');">RSVP</a>
      <a class="menu--main__link" href="/travel.html" onclick="ga('send', 'event', 'Main Nav', 'travel');">Travel</a>
      <a class="menu--main__link" href="/registry.html" onclick="ga('send', 'event', 'Main Nav', 'registry');">Registry
      </a>
      <a class="menu--main__link" href="/our-story.html" onclick="ga('send', 'event', 'Main Nav', 'story');">Our
        Story</a>
      <a class="menu--main__link" href="/wedding-party.html" onclick="ga('send', 'event', 'Main Nav', 'party');">Wedding Party</a>
    </nav>
  </div>
</header>