<header class="site__header">
  <a class="toggle--menu" href="#"><span>Menu</span></a>
  <h5 class="header__title">Pop Champagne for Lauren & Shane</h5>
  <div class="primary-navigation">
    <nav class="menu--main">
      <a class="menu--main__link" href="#">Home</a>
      <a class="menu--main__link" href="#">Our Story</a>
      <a class="menu--main__link" href="#">Bridal Party</a>
      <a class="menu--main__link" href="#">Travel</a>
      <a class="menu--main__link" href="#">Registry</a>
    </nav>
  </div>
</header>