<header class="site__header">
  <a class="toggle--menu" href="#"><span>Menu</span></a>
  <h5 class="header__title"><a href="/">Pop Champagne for Lauren & Shane</a></h5>
  <div class="primary-navigation">
    <nav class="menu--main">
      <a class="menu--main__link" href="/our-story.html">Our Story</a>
      <a class="menu--main__link" href="#">Wedding Party</a>
      <a class="menu--main__link" href="/travel.html">Travel</a>
      <a class="menu--main__link" href="#">Registry</a>
    </nav>
  </div>
</header>