// @file
// Callout components
//

%shadow,
.has-shadow {
  position:relative;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:before,
  &:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
  }

  &:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
  }
}


.callout-band {
  @extend %clearfix;
  padding: rhythm(5) 0 rhythm(7);
  text-align: center;
}

%callout-band--photo,
.callout-band--photo {
  @extend %clearfix;
  padding: rhythm(20) 0 rhythm(10);
  color: $hotpurple;
}

.callout-band--redfield {
  @extend %callout-band--photo;
  @extend %shadow;
  background: url('../imgs/RedfieldVisit-4.jpg');
  background-size: cover;
}

.callout-band__quote {
  font-family: $raleway;
  font-size: $sm-heading;
  font-weight: $bold;
  padding: 1em 3em;
  text-align: center;

  &:before, &:after {
    font-size: 15em;
    font-family: $script;
    color: $hotpurple;
    z-index: -1;
  }

  &:before {
    top: 75px;
    left: -65px;
  }

  &:after {
    bottom: -75px;
    right: 30px;
  }
}

.attribution {
  font-family: $script;
  font-size: $sm-heading;

  &:before {
    content: '— ';
  }
}
