// @file
// Countdown component
//

.countdown {
  color: $hotpurple;
  font-size: 2em;
  font-weight: $semibold;
  line-height: 1.5em;

  span {
    display: block;
  }

  @include breakpoint($md) {
    font-size: 3em;

    span {
      display: inline-block;
    }
  }
}
