//
// @file
// Footer Component
//

.site__footer {
  @extend %callout-band--photo;
  background: url('../imgs/DSC_1874.jpg');
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  padding: 0;
  padding-top: rhythm(40);
}
