// @file
// Home Page Specific
//

.event-info {
  background-image: url(http://maps.googleapis.com/maps/api/staticmap?center=Redfield+Estate&zoom=9&scale=2&size=600x300&maptype=roadmap&key=AIzaSyD2pMFNax5pgqbbRREqrrVsmiKubi0OSQ4&format=png&visual_refresh=true&markers=size:small%7Ccolor:0x942193%7Clabel:0%7CRedfield+Estate);
  background-size: cover;
  background-position: right;
}
