// @file
// Profile components
//

.profile__photo {
  border: 1px solid $frenchgrey;
  padding: rhythm(.75);
  position: relative;
  overflow: hidden;
  transition: all .25s ease-in-out;
}

.has-link {
  img {
    transition: all .25s ease-in-out;
    opacity: 1;
    filter: grayscale(0);
  }

  &:hover,
  &:focus {
    background: $fedora;

    img {
      transform: scale(1.15);
      opacity: .35;
      filter: grayscale(100%);
    }

    .profile__title {
      opacity: 0;
    }

    .profile__button {
      opacity: 1;
    }
  }
}

.profile__title {
  @extend %overlay--white;
  position: absolute;
  bottom: 10%;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all .25s ease-in-out;
}

.profile__button {
  @extend %button;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  position: absolute;
  transition: all .25s ease-in-out;
  opacity: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 25px;
  width: 150px;
  text-align: center;
}
